<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
Calculator!

<a href="/first/calculator">calc</a>
<a href="/first/calculator?a=1&b=1&action=multiplication">*multiplication</a>
<a href="/first/calculator?a=1&b=1&action=addition">+addition</a>
<a href="/first/calculator?a=1&b=1&action=subtraction">-subtraction</a>
<a href="/first/calculator?a=1&b=1&action=division">/division</a>
<p th:text="${calc}"></p>

</body>
</html>