<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<a style="color:black" href="/people">Люди</a>___
<a style="color:black" href="/books">Книги</a>
<hr/>

<form th:method="PATCH" th:action="@{/books/search/searchBookByName1?name=name}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <input type="submit" value="Искать книгу!"/>
</form>

<div th:if="${books.isEmpty()}">
    <span>Книги с таким названием нет!</span>
</div>

<div th:if="${!books.isEmpty()}">
    <span>Найдены следующие книги:</span>
    <div th:each="book : ${books}">
        <a th:text="${book.getName() + ', ' + book.getAuthor() + ', '+ book.getYearOfProduction()}">book</a>
    </div>
</div>

</body>
</html>