<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>
<a href="/people">Люди</a>___<a href="/books">Книги</a>
<br/>
<hr/>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', '+ person.getYearOfBirth()}">user</a>
</div>

<hr/>
<!--<a href="/people/new">Добавить человека</a>-->
<form method="GET" action="/people/new">
    <input type="submit" value="Добавить человека"/>
</form>


</body>
</html>
