<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все книги</title>
</head>
<body>
<a href="/people">Люди</a>___<a href="/books">Книги</a>
<hr/>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', '+ book.getYearOfProduction()}">book</a>
</div>

<hr/>
<!--<a href="/books/new">Добавить книгу</a>-->
<form method="GET" action="/books/new">
    <input type="submit" value="Добавить книгу"/>
</form>



<br/>
</body>
</html>
